body {
  margin: 0px;
}

.Infos {
  text-align: justify;
  padding: 20px;
  transition: all 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.Infos.Dark {
  background: #333;
  color: #f1f1f1;
}

.Infos.Light {
  background: #f1f1f1;
  color: #333;
}
